{% extends "base.html" %}
{% block title %}Observation{% endblock %}
{% block head %} {% endblock %}
{% block body %}

<div class="row">
    <div class="page-header">
        <h1>Observation</h1>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span class="label label-default">Q1</span></h4> What is comparison of ìhigh level Accessibility ì building between old building and new building in different Predominant space use?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                      <br>
                      <br>
<blockquote>
    <p>As we all know, Melbourne is a immigrant city, the population of Melbourne is dramatically increase in the recent 20 years, so more and more apartments were built, so our hypotheses is compare to old building, more and more building have high level accessibility device. And the number of apartments is more than other type of buildings .</p>
</blockquote>

<a class="btn btn-default" href='pivot#q={"filter1":"-1","row":"6","col":"9","val1":"0","val2":"12"}' role="button">View Pivot Table</a>

                    </div>
                    <div class="col-md-6">
                        <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        <table id="datatable" style="display: none;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>New building</th>
                                    <th>Old building</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Office</th>
                                    <td>39</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th>Residential Apartment</th>
                                    <td>101</td>
                                    <td>26</td>
                                </tr>
                                <tr>
                                    <th>Others</th>
                                    <td>73</td>
                                    <td>63</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span class="label label-default">Q2</span></h4> What is the percentage of old building(before year 2000) which have “high accessibility level” of total old building ?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                      <br>
                      <br>
<blockquote>
    <p>As time going on, people pay more and more attention to disable people. Take care them is already become a common topic in recent 2 decades. So I assume the most of old building’s designer may not notice this problem.  Our hypotheses is about only 30% may have high accessibility level design.</p>
</blockquote>

<a class="btn btn-default" href='pivot#q={"filter1":"-1","row":"6","col":"10","val1":"0","val2":"12"}' role="button">View Pivot Table</a>


                    </div>
                    <div class="col-md-6">
                        <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span class="label label-default">Q3</span></h4>What is the comparison of “high accessibility level” building distribution in each area??
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                      <br>
                      <br>
<blockquote>
    <p>Melbourne CBD is economic centre this city. A lot people come here to work. So we think high accessibility building will occupy a huge percentage. May be 60%. Other area is residential area. The are a lot of old building , house and townhouse, so it might be not that much high accessibility building. So 50%.</p>
</blockquote>

<a class="btn btn-default" href='pivot#q={"filter1":"-1","row":"5","col":"10","val1":"0","val2":"12"}' role="button">View Pivot Table</a>

                    </div>
                    <div class="col-md-6">
                        <div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span class="label label-default">Q4</span></h4> What type are those building ?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                      <br>
                      <br>
<blockquote>
    <p>Office building 30%, apartments 40%, others 30%
Assume the answer will be office building and apartments. Because these two place is every one will show up the most. So architect and building designer will consider this problem. Build high level accessibility device will provide more convenience to most people.</p>
</blockquote>

<a class="btn btn-default" href='pivot#q={"filter1":"-1","row":"9","col":"10","val1":"0","val2":"12"}' role="button">View Pivot Table</a>


                    </div>
                    <div class="col-md-6">
                        <div id="container4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span class="label label-default">Q5</span></h4> What is the change for each type of buildings?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                      <br>
                      <br>
<blockquote>
    <p>As we mentioned in question 2 , people pay more and more attention on humanity , so the number of high accessibly building will increase during recent 40 years.</p>
</blockquote>

<a class="btn btn-default" href='pivot#q={"filter1":"-1","row":"6","col":"10","val1":"0","val2":"12"}' role="button">View Pivot Table</a>

                    </div>
                    <div class="col-md-6">
                        <div id="container5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="static/js/ob.js"></script>

{% endblock %}


