{% extends "base.html" %}

{% block title %}Pivot Table{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="row">
  <div class="page-header">
    <h1>Pivot Table Builder</h1>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <select id="s-filter-1" class="form-control">
              <option value="-1">ALL</option>
              <option value="0">Block ID</option>
              <option value="1">Property ID</option>
              <option value="2">Base Property ID</option>
              <option value="3">Building name</option>
              <option value="4">Street name</option>
              <option value="5">CLUE small area</option>
              <option value="6">Construction year</option>
              <option value="7">Refurbished year</option>
              <option value="8">Number of floors (above ground)</option>
              <option value="9">Predominant space use</option>
              <option value="10">Accessibility type</option>
              <option value="12">Accessibility rating</option>
              <option value="13">Bicycle spaces</option>
              <option value="14">Has showers</option>
            </select>
          </div>

          <div class="col-md-4">
            <select id="s-filter-2" class="form-control" disabled>
              <option value="0">=</option>
              <option value="1">&gt</option>
              <option value="2">&gt=</option>
              <option value="3">&lt</option>
              <option value="4">&lt=</option>
              <option value="5">&lt&gt</option>
              <option value="6">cotain</option>
            </select>
          </div>

          <div class="col-md-4">
            <input id="i-filter-3" disabled type="text" class="form-control" aria-label="...">
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Row</h3>
      </div>
      <div class="panel-body">
        <select id="s-row" class="form-control">
          <option value="0">Block ID</option>
          <option value="3">Building name</option>
          <option value="4">Street name</option>
          <option value="5">CLUE small area</option>
          <option value="6">Construction year</option>
          <option value="7">Refurbished year</option>
          <option value="8">Number of floors (above ground)</option>
          <option value="9">Predominant space use</option>
          <option value="10">Accessibility type</option>
          <option value="12">Accessibility rating</option>
          <option value="13">Bicycle spaces</option>
          <option value="14">Has showers</option>
        </select>
      </div>
    </div>

  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Column</h3>
      </div>
      <div class="panel-body">
        <select id="s-col" class="form-control">
          <option value="0">Block ID</option>
          <option value="3">Building name</option>
          <option value="4">Street name</option>
          <option value="5">CLUE small area</option>
          <option value="6">Construction year</option>
          <option value="7">Refurbished year</option>
          <option value="8">Number of floors (above ground)</option>
          <option value="9">Predominant space use</option>
          <option value="10">Accessibility type</option>
          <option value="12">Accessibility rating</option>
          <option value="13">Bicycle spaces</option>
          <option value="14">Has showers</option>
        </select>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Value</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <select id="s-val-1" class="form-control">
              <option value="0">Sum of</option>
              <option value="1">Average of</option>
              <option value="2">Maximum of</option>
              <option value="3">Minimum of</option>
            </select>
          </div>
          <div class="col-md-6">
            <select id="s-val-2" class="form-control">
              <option value="6">Construction year</option>
              <option value="7">Refurbished year</option>
              <option value="8">Number of floors (above ground)</option>
              <option value="12">Accessibility rating</option>
              <option value="13">Bicycle spaces</option>
              <option value="14">Has showers</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <div class="btn-group" role="group">
      <button id="btn-generate" class="btn btn-info">Generate</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a id="btn-json">Export as json</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
</div>
<hr>

<div class="row">
    <div id="table_c" class="col-md-12">
    </div>
</div>


<script src="static/js/pivot.js"></script>
<script src="static/js/bootstrap-waitingfor.min.js"></script>

{% endblock %}
